<!doctype html>
<html>
<head>
	<title>Doodle!</title>
	<!-- js -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/canvas.js"></script>
	<!-- css --> 
	<link rel="stylesheet" type=text/css href="/css/application.css"> 
</head>
<body>
	<%= yield %> 
</body>
</html>